@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background-color: #000;
    color: #eee;
}

a {
    text-decoration: none;
}
header {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #000;
}

header .logo img {
    height: 60px;
    display: block;
}

header .nav-links {
    display: flex;
    gap: 20px;
}

header .nav-links a, header .login a {
    color: #eee;
    font-weight: 600;
}

/*Login*/

.login-section {
    max-width: 400px;
    margin: 5em auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 12%;
}

.login-section h2 {
    color: #475429;
    margin-bottom: 1em;
}

.login-form .form-group {
    margin-bottom: 1.5em;
    text-align: left;
}

.login-form label {
    display: block;
    margin-bottom: 0.5em;
    color: #475429;
    font-weight: bold;
}

.login-form input {
    width: 100%;
    padding: 0.8em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    width: 100%;
    background-color: #475429;
    color: #fff;
    padding: 0.8em;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #a7a876;
}

.signup-link {
    margin-top: 1em;
    font-size: 0.9em;
    color: #333;
}

.signup-link a {
    color: #475429;
    text-decoration: none;
    font-weight: bold;
}

.signup-link a:hover {
    text-decoration: underline;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    overflow: hidden;
}
