@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    font-family: Poppins;
    font-size: 15px;
    font-size: bold;
    background-color: #000;
}
a{
    text-decoration: none;
}
header{
    
    max-width: 100%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: fixed;
    left: 350px;
    z-index: 100;

}
header a{
    color: #eee;
    margin-right: 40px;
}

#parc-plan {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
    width: 100%;
    overflow: hidden;
    position: relative;
}

img[usemap] {
    margin-top: 70px; 
    width: 100%; 
    max-width: 1450px; 
    height: auto; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

area {
    cursor: pointer; 
    outline: none;
}

area:hover {
    outline: 2px solid rgba(255, 0, 0, 0.5); /* met en surbrillance la zone cliquable */
}
