@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background-color: #000;
    color: #eee;
}

a {
    text-decoration: none;
}

header {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #000;
}

header .logo img {
    height: 60px;
    display: block;
}

header .nav-links {
    display: flex;
    gap: 20px;
}

header .nav-links a, header .login a {
    color: #eee;
    font-weight: 600;
}
.hero {
    margin-top: 50px;
    background-image: url('public/enclos-plateau.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.hero h1 {
    font-size: 3rem;
    text-align: center;
}

.description {
    max-width: 80%;
    margin: 40px auto;
    text-align: center;
    font-size: 1.2rem;
    color: #eee;
}


.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    max-width: 80%;
    margin: 40px auto;
}

.service-item {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    background: #fa6c07;
}

.service-icon {
    font-size: 2.5rem;
    color: #dab212;
    margin-bottom: 10px;
}

.service-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000;
}

.service-description {
    font-size: 0.9rem;
    color: #777;
}
